label {
    font-size: 30px;
    color: rgb(165, 109, 109);
    
}

button {
    background-color: slategray;
    border: solid;
    border-color:rgb(165, 109, 109);
    
}
.losuj {
    width: 200px;
    height:60px;
    margin-left:80px;
}

.dodaj {
    width: 200px;
    height:60px;
    margin-left:40px;
}

html {
    background-color:rgb(190, 183, 183);
}


input {
    height:50px;
    margin-top:50px;
}